---
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

import "destyle.css";
import "../../styles/global.css";
import Header from "../../components/Header/index.astro";
import Footer from "../../components/Footer.astro";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="ja">
  <head>
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      charset="UTF-8"
      title={`${post.data.title} | yutteee-portfolio`}
      description={post.data.description}
      openGraph={{
        basic: {
          title: post.data.title,
          type: "article",
          image: `${import.meta.env.SITE_URL}/ogp/${post.slug}.png`,
        },
        image: {
          alt: post.data.title,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@yutteee-portfolio",
      }}
    />
  </head>
  <body>
    <Header currentPage="ポスト" />
    <main class="container">
      <div class="breadcrumbs">
        <a href="/">トップ</a>
        <Icon name="weui:arrow-outlined" />
        <a href="/posts">記事</a>
        <Icon name="weui:arrow-outlined" />
        <div>ポスト</div>
      </div>
      <div class="wrapper">
        <div class="title-wrapper">
          <div>{post.data.pubDate}</div>
          <h1 class="title">{post.data.title}</h1>
          {
            post.data.image ? (
              <img
                src={post.data.image.url}
                alt={post.data.image.alt}
                width="720"
                height="378"
                class="image"
              />
            ) : (
              <img
                src={`${import.meta.env.SITE_URL}/ogp/${post.slug}.png`}
                alt=""
                width="720"
                height="378"
                class="image"
              />
            )
          }
        </div>
        <div class="main-wrapper">
          <Content />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .container {
    width: 100%;
    max-width: calc(70rem + 2rem);
    margin: 0 auto;
    padding: 96px 16px;
  }
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-white);
    height: fit-content;
    width: fit-content;
    border-radius: 9999px;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    a {
      color: var(--color-link);
      text-decoration: underline;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding-top: 2rem;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      width: 100%;

      .title {
        font-size: 2rem;
        font-weight: 900;
      }

      .image {
        width: 100%;
        height: auto;
      }
    }

    .main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 900;
      }

      h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 900;
      }

      a {
        color: var(--color-link);
        text-decoration: underline;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 1.5rem;

        li {
          /* 点をつける */
          list-style: disc;
          padding-left: 0.5rem;
        }
      }

      th,
      td {
        padding: 0.5rem;
        border: 1px solid var(--color-text);
      }

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }
    }
  }
</style>
