---
import { BlogPost } from "../../ui/BlogPost";
import { LinkButton } from "../../ui/LinkButton";
import { getAllPosts } from "../../content/post";

const allPosts = await getAllPosts();
---

<section class="container">
  <div class="titles">
    <h2 class="title">記事</h2>
    <LinkButton text="一覧" url="/posts/" ariaLabel="記事一覧" />
  </div>
  <ul class="articles">
    {
      allPosts
        .slice(0, 3)
        .map((post) => (
          <BlogPost
            url={post.url}
            title={post.title}
            image={post.image}
            date={post.pubDate}
            alt={post.alt}
            isExternal={post.isExternal}
          />
        ))
    }
  </ul>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);

    .titles {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: end;
      gap: var(--space-m);

      .title {
        font-size: var(--step-5);
        font-weight: 900;
        line-height: 1;
      }
    }

    .articles {
      display: flex;
      gap: var(--space-xl);
      width: 100%;

      @media screen and (max-width: 1024px) /* sync with --bp-md */ {
        flex-direction: column;
      }
    }
  }
</style>
