---
import { ProductItem } from "../../ui/ProductItem";
import { getCollection } from "astro:content";
import { LinkButton } from "../../ui/LinkButton";

const productsCollection = (await getCollection("products")).sort((a, b) =>
  b.data.period.localeCompare(a.data.period),
);
---

<section class="container">
  <div class="titles">
    <h2 class="title">プロダクト</h2>
    <LinkButton text="一覧" url="/products/" ariaLabel="プロダクト一覧" />
  </div>
  <div class="products">
    {
      productsCollection
        .slice(0, 2)
        .map((product, index) => (
          <ProductItem
            index={index + 1}
            image={product.data.image.url}
            title={product.data.title}
            description={product.data.description}
            href={`/products/${product.id}`}
            alt={product.data.image.alt}
          />
        ))
    }
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);

    .titles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: end;
      gap: var(--space-m);

      .title {
        font-size: var(--step-5);
        font-weight: 900;
        line-height: 1;
      }
    }

    .products {
      display: flex;
      gap: var(--space-xl);
      width: 100%;

      @media screen and (max-width: 1024px) /* sync with --bp-md */ {
        flex-direction: column;
      }
    }
  }
</style>
