---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "私について";
const pageDescription = "中村優作の自己紹介ページです。";
import { histories } from "../data/history";
import { PageTitle } from "../ui/PageTitle";
import { Image } from "astro:assets";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="私について" />
    <div class="wrapper">
      <section class="section-2">
        <h2 class="h2">中村優作</h2>
        <div class="section-flex">
          <div class="description">
            <p>
              都内でエンジニアをしています。フロントエンドとデザインが好きです。
            </p>
            <p>
              また、株式会社KANNONでデザインエンジニアとしても活動しています。
            </p>
            <p>
              誰にとっても使いやすいプロダクトを開発することがしたいです。そのために必要なことは全部やりたいというスタンスで開発しています。フロントエンドの開発を軸に、プロダクトの技術的な意思決定を行うことができるエンジニアを目指しています。
            </p>
            <p>お笑い、読書、ランニング、コストコが好きです。</p>
          </div>
          <div class="image-wrapper">
            <Image
              src="/yutteee.png"
              width="400"
              height="250"
              id="screen0"
              alt="顔写真：黒い服を着た、黒髪を分けている男性(中村優作)が座ってパソコンの画面を見ている。"
              class="image"
            />
          </div>
        </div>
      </section>
      <section class="section-2">
        <h2 class="h2">経歴</h2>
        <div class="histories">
          {
            histories.map((history, index) => (
              <section id={`history-item${index}`}>
                <div class="title-flex">
                  <h3 class="h3">{history.title}</h3>
                  <div>{history.period}</div>
                </div>
                <div class="section-flex">
                  <div class="description">
                    {history.description.map((desc) => (
                      <p>{desc}</p>
                    ))}
                  </div>
                  <div class="image-wrapper">
                    <Image
                      src={history.image}
                      width="400"
                      height="250"
                      id={`screen${histories.length - index}`}
                      alt={history.alt}
                      class="image"
                    />
                  </div>
                </div>
              </section>
            ))
          }
        </div>
      </section>
    </div>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem 16px;
      width: 100%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      max-width: 70rem;
      width: 100%;
      align-items: center;
      padding-bottom: 96px;
    }

    .section-2 {
      width: fit-content;
    }

    .title-flex {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: end;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.5rem;
      width: 100%;
      max-width: 40rem;
    }
    .h2 {
      margin-top: 4rem;
      font-size: 2rem;
      font-weight: 900;
    }

    .h3 {
      font-size: 1.5rem;
      font-weight: 900;
    }

    .section-flex {
      display: flex;
      gap: 2rem;
      width: 100%;

      @media screen and (max-width: 40rem) {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
      }
    }

    .image-wrapper {
      width: 100%;
      max-width: 400px;
      position: relative;

      @media screen and (max-width: 40rem) {
        max-width: 100%;
      }

      .image {
        width: 100%;
        height: auto;
        aspect-ratio: 8/5;
        object-fit: cover;
        border-radius: 8px;
        position: sticky;
        top: 5rem;
      }
    }
  </style>
</BaseLayout>
