---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Skills Page";
import { histories } from "../data/history";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <PageTitle title="私について" />
    <div class="wrapper">
      <div class="pc-wrapper">
        <div class="pc">
          <div class="monitor">
            {
              histories
                .slice()
                .reverse()
                .map((history, index) => (
                  <img
                    src={history.image}
                    width="300"
                    height="187.5"
                    id={`screen${histories.length - index}`}
                    class="screen"
                    alt=""
                  />
                ))
            }
            <img
              src="/yutteee.png"
              width="300"
              height="187.5"
              id="screen0"
              class="screen"
              alt=""
            />
            <div class="splashbg1"></div>
            <div class="splashbg2"></div>
          </div>
          <div class="keyboard"></div>
        </div>
      </div>
      <div class="about-wrapper">
        <div class="about" id="about">
          <div>
            <h2 class="h2">中村優作</h2>
            <div class="description">
              <p>名古屋大学工学部化学生命工学科の4年生です。</p>
              <p>
                名古屋のアプリ開発団体jackで活動しており、web開発を楽しんでいます。特にフロントエンドとデザインが好きです。最近はiOSとアクセシビリティに関心があります。
              </p>
              <p>
                誰にとっても使いやすいプロダクトを開発することがしたいです。そのために必要なことは全部やりたいというスタンスで開発しています。(将来像は全然考えれてないです...)
              </p>
              <p>
                趣味は漫才を見ること、音楽を聴くことです。好きな漫才師は金魚番長、エバースで、好きなアーティストはMr.children、BUMP
                OF CHIKENです。
              </p>
            </div>
          </div>
          <div>
            <h2 class="h2">経歴</h2>
            <div class="histories">
              {
                histories.map((history, index) => (
                  <div id={`history-item${index}`}>
                    <h3 class="h3">{history.title}</h3>
                    <div class="description">
                      {history.description.map((desc) => (
                        <p>{desc}</p>
                      ))}
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { histories } from "../data/history";

    gsap.registerPlugin(ScrollTrigger);

    histories.forEach((history, index) => {
      const historyItem = document.getElementById(`history-item${index}`);
      const screen = document.getElementById(`screen${index}`);

      gsap.to(screen, {
        scrollTrigger: {
          trigger: historyItem,
          start: "top center",
          end: "center center",
          scrub: 1,
          // markers: true,
          toggleActions: "play none none none",
        },
        y: -187.5,
      });
    });
  </script>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }
    .wrapper {
      padding-top: 4rem;
      display: flex;
      justify-content: center;
      gap: 64px;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .pc-wrapper {
      position: sticky;
      top: 50vh;
      left: 0;
      display: flex;
      height: fit-content;
      transform: translateY(-50%);
    }

    .pc {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 48px;
    }

    .monitor {
      width: 300px;
      height: 187.5px;
      background-color: var(--color-white);
      border-radius: 16px;
      border: 8px solid var(--color-white);
      position: relative;
      overflow: hidden;
    }

    .screen {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-white);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .keyboard {
      width: 150px;
      border-bottom: 30px solid var(--color-white);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    .about-wrapper {
      width: 100%;
      max-width: 720px;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    .h2 {
      font-size: 2.25rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    .h3 {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    .histories {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
</BaseLayout>
