---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "私について";
const pageDescription = "中村優作の自己紹介ページです。";
import { histories } from "../data/history";
import PageTitle from "../components/PageTitle.astro";
import { Image } from "astro:assets";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="私について" />
    <div class="wrapper">
      <div class="pc-wrapper" aria-hidden>
        <div class="pc">
          <div class="monitor">
            {
              histories
                .slice()
                .reverse()
                .map((history, index) => (
                  <Image
                    src={history.image}
                    width="300"
                    height="187.5"
                    id={`screen${histories.length - index}`}
                    class="screen"
                    alt={history.alt}
                  />
                ))
            }
            <Image
              src="/yutteee.png"
              width="300"
              height="187.5"
              id="screen0"
              class="screen"
              alt="顔写真：黒い服を着た、黒髪を分けている男性(中村優作)が座ってパソコンの画面を見ている。"
            />
            <div class="splashbg1"></div>
            <div class="splashbg2"></div>
          </div>
          <div class="keyboard"></div>
        </div>
      </div>
      <div class="about-wrapper">
        <div class="about" id="about">
          <section>
            <h2 class="h2">中村優作</h2>
            <div class="description">
              <p>名古屋大学工学部化学生命工学科の4年生です。</p>
              <p>
                名古屋のアプリ開発団体jackで活動しており、web開発を楽しんでいます。特にフロントエンドとデザインが好きです。最近はアクセシビリティに関心があります。
              </p>
              <p>
                誰にとっても使いやすいプロダクトを開発することがしたいです。そのために必要なことは全部やりたいというスタンスで開発しています。(なので将来像は全然考えれてないです...)
              </p>
              <p>
                趣味は漫才を見ること、音楽を聴くこと、本を読むこと、お酒を飲むことです。社会人になったら漫才劇場に通ったり、書斎やお酒の棚がある家でダラダラしたりしたいです。
              </p>
            </div>
          </section>
          <section>
            <h2 class="h2">経歴</h2>
            <div class="histories">
              {
                histories.map((history, index) => (
                  <section id={`history-item${index}`}>
                    <h3 class="h3">{history.title}</h3>
                    <div class="description">
                      {history.description.map((desc) => (
                        <p>{desc}</p>
                      ))}
                    </div>
                  </section>
                ))
              }
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="space"></div>
  </main>

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { histories } from "../data/history";

    gsap.registerPlugin(ScrollTrigger);

    histories.forEach((history, index) => {
      const historyItem = document.getElementById(`history-item${index}`);
      const screen = document.getElementById(`screen${index}`);

      gsap.to(screen, {
        scrollTrigger: {
          trigger: historyItem,
          start: "top center",
          end: "center center",
          scrub: 1,
          // markers: true,
          toggleActions: "play none none none",
        },
        y: -187.5,
      });
    });
  </script>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px 96px 16px;
    }
    .wrapper {
      padding-top: 64px;
      display: flex;
      justify-content: center;
      gap: 64px;
      height: 100%;
      position: relative;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }
    }

    .pc-wrapper {
      width: 100%;
      max-width: 300px;
      position: sticky;
      top: calc(50vh - 133px);
      left: 0;
      display: flex;
      height: fit-content;

      @media screen and (max-width: 1000px) {
        top: 1rem;
        position: relative;
      }
    }

    .pc {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 48px;
    }

    .monitor {
      width: 300px;
      height: 187.5px;
      background-color: var(--color-white);
      border-radius: 16px;
      border: 8px solid var(--color-white);
      position: relative;
      overflow: hidden;
    }

    .screen {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-white);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .keyboard {
      width: 150px;
      border-bottom: 30px solid var(--color-white);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    .about-wrapper {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .about {
      display: flex;
      flex-direction: column;
    }

    .h2 {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 900;
    }

    .h3 {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 900;
    }

    .histories {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
  </style>
</BaseLayout>
