---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Articles Page";
import BlogPost from "../components/BlogPost.astro";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <PageTitle title="記事" />
    <ul class="articles">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            image={post.frontmatter.image.url}
            date={post.frontmatter.pubDate}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    .articles {
      padding-top: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem 3rem;
      list-style: none;
      max-width: 1120px;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
</style>
