---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BlogPost } from "../ui/BlogPost";
import { PageTitle } from "../ui/PageTitle";
import { getAllPosts } from "../content/post";

const pageTitle = "記事";
const pageDescription = "中村優作による記事一覧です。";

const allPosts = await getAllPosts();
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="記事" />
    <ul class="articles">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.title}
            image={post.image}
            date={post.pubDate}
            alt={post.alt}
            isExternal={post.isExternal}
            marp={post.marp}
          />
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    .articles {
      padding-top: 64px;
      padding-bottom: 96px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 64px 48px;
      list-style: none;
      max-width: 70rem;
      width: 100%;

      @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
</style>
