---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "プロダクト";
const pageDescription = "中村優作が開発したプロダクトの一覧です。";
import { products } from "../data/products";
import { ProductItem } from "../ui/ProductItem";
import { PageTitle } from "../ui/PageTitle";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="プロダクト" />
    <ul class="products">
      {
        products.map((product, index) => (
          <li>
            <ProductItem
              index={index + 1}
              image={product.image}
              title={product.title}
              description={product.description}
              url={product.url ?? ""}
              alt={product.alt}
            />
          </li>
        ))
      }
    </ul>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem 16px;

      .products {
        /* grid 2つ並べて折り返す*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 70rem;
        padding-top: 64px;
        padding-bottom: 96px;
        width: 100%;

        > *:nth-child(odd) {
          padding: 32px 24px 64px 0;
        }

        > *:nth-child(even) {
          padding: 96px 0 0 24px;
        }

        @media screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-bottom: 6rem;

          > *:nth-child(odd) {
            padding: 0;
          }

          > *:nth-child(even) {
            padding: 0;
          }
        }
      }
    }
  </style></BaseLayout
>
