---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Products Page";
import { products } from "../data/products";
import ProductItem from "../components/ProductItem.astro";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container">
    <PageTitle title="プロダクト" />
    <div class="products">
      {
        products.map((product, index) => (
          <ProductItem
            index={index + 1}
            image={product.image}
            title={product.title}
            description={product.description}
            url={product.url}
          />
        ))
      }
    </div>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem 1rem;

      .products {
        /* grid 2つ並べて折り返す*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1120px;
        flex-wrap: wrap;
        padding-top: 4rem;
        padding-bottom: 6rem;

        > *:nth-child(odd) {
          margin: 2rem 1.5rem 6rem 0;
        }

        > *:nth-child(even) {
          margin: 8rem 0 0 1.5rem;
        }

        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-bottom: 6rem;

          > *:nth-child(odd) {
            margin: 0;
          }

          > *:nth-child(even) {
            margin: 0;
          }
        }
      }
    }
  </style></BaseLayout
>
