---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "プロダクト";
const pageDescription = "中村優作が開発したプロダクトの一覧です。";
import { getCollection } from "astro:content";
import { ProductItem } from "../ui/ProductItem";
import { PageTitle } from "../ui/PageTitle";

const productsCollection = (await getCollection("products")).sort((a, b) =>
  b.data.period.localeCompare(a.data.period),
);
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="プロダクト" />
    <ul class="products">
      {
        productsCollection.map((product, index) => (
          <li>
            <ProductItem
              index={index + 1}
              image={product.data.image.url}
              title={product.data.title}
              description={product.data.description}
              href={`/products/${product.id}`}
              alt={product.data.image.alt}
            />
          </li>
        ))
      }
    </ul>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 var(--space-s);

      .products {
        /* grid 2つ並べて折り返す*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90rem;
        padding-top: var(--space-2xl);
        padding-bottom: var(--space-3xl);
        width: 100%;

        > *:nth-child(odd) {
          padding: var(--space-l) var(--space-m) var(--space-2xl) 0;
        }

        > *:nth-child(even) {
          padding: var(--space-3xl) 0 0 var(--space-m);
        }

        @media screen and (max-width: 1024px) /* sync with --bp-md */ {
          display: flex;
          flex-direction: column;
          gap: var(--space-l);
          padding-bottom: var(--space-3xl);

          > *:nth-child(odd) {
            padding: 0;
          }

          > *:nth-child(even) {
            padding: 0;
          }
        }
      }
    }
  </style></BaseLayout
>
