---
import { Image } from "astro:assets";
const { image, index, title, description, url, alt } = Astro.props;
---

<a
  class="product"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={title}
>
  <div class="index-parent">
    <span class="mask">
      <Image src={image} alt={alt} class="image" width="400" height="250" />
    </span>
    <div class="index">0{index}</div>
  </div>
  <div class="texts">
    <div class="link">
      {title}
    </div>
    <div class="description">{description}</div>
  </div>
</a>
<style>
  .product {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 24px;

    .index-parent {
      position: relative;
      padding-left: 48px;

      .index {
        font-size: 96px;
        font-weight: 700;
        position: absolute;
        bottom: -64px;
        left: 0px;
      }
    }

    .mask {
      overflow: hidden;
      display: block;
      line-height: 0;
      border-radius: 8px;

      .image {
        border-radius: 8px;
        aspect-ratio: 8/5;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
        object-fit: cover;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 16px;
      text-align: right;

      .link {
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  .product:hover {
    .image {
      transform: scale(1.1);
    }

    .texts {
      color: var(--color-link);
    }
  }
</style>
