---
const { image, index, title, description, url } = Astro.props;
---

<a class="product" href={url} target="_blank" rel="noopener noreferrer">
  <span class="mask">
    <img src={image} alt="" class="image" width="400" height="250" />
  </span>
  <div class="index" aria-hidden>0{index}</div>
  <div class="texts">
    <div class="link">
      {title}
    </div>
    <div class="description">{description}</div>
  </div>
</a>
<style>
  .product {
    position: relative;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 24px;
    padding-left: 40px;

    .mask {
      overflow: hidden;
      display: block;
      line-height: 0;

      .image {
        border-radius: 8px;
        aspect-ratio: 8/5;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 16px;

      .link {
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .index {
      font-size: 6rem;
      font-weight: 700;
      position: absolute;
      bottom: 40px;
      left: 0;
    }
  }

  .product:hover {
    .image {
      transform: scale(1.1);
      overflow: hidden;
    }

    .texts {
      color: #023aa2;
    }

    .link {
      text-decoration: underline;
    }
  }
</style>
