---
const { image, index, title, description, url } = Astro.props;
---


<div class="product">
  <img src={image} alt="" class="image" width="400" height="250"/>
  <div class="index">0{index}</div>
  <div class="texts">
    <a
      class="link"
      href={url}
      target="_blank"
      rel="noopener noreferrer"
    >
      <h2 class="name">{title}</h2>
    </a>
    <p class="description">{description}</p>
  </div>
</div>
<style>
  .title {
    font-size: 96px;
    font-weight: 700;
  }

  .product {
    position: relative;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 24px;

    .image {
        border-radius: 8px;
        aspect-ratio: 8/5;
        width: 100%;
        height: 100%;
    }


    .texts {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 16px;

      .link {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .index {
      font-size: 96px;
      font-weight: 700;
      position: absolute;
      bottom: 40px;
      left: -40px;
    }

    .name {
      font-size: 36px;
      font-weight: 700;
    }
  }
</style>