---
const allPosts = await Astro.glob("../../content/posts/*.md");
import { BlogPost } from "../../ui/BlogPost";
import { LinkButton } from "../../ui/LinkButton";

const getFileName = (file: string) => {
  const fileNameWithExtentision = file.split("/").pop();
  const fileName = fileNameWithExtentision?.replace(".md", "");

  return fileName;
};
---

<section class="container">
  <div class="titles">
    <h2 class="title">記事</h2>
    <LinkButton text="一覧" url="/posts/" ariaLabel="記事一覧" />
  </div>
  <ul class="articles">
    {
      allPosts
        .slice(0, 3)
        .map((post) => (
          <BlogPost
            url={`/posts/${getFileName(post.file)}`}
            title={post.frontmatter.title}
            image={
              post.frontmatter.image
                ? post.frontmatter.image.url
                : `${import.meta.env.SITE_URL}/ogp/${getFileName(post.file)}.png`
            }
            date={post.frontmatter.pubDate}
            alt={
              post.frontmatter.image
                ? post.frontmatter.image.alt
                : `サムネイル画像。白いPCのイラストに、「${post.frontmatter.title}」の文字が重なっている。`
            }
          />
        ))
    }
  </ul>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .titles {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: end;
      gap: 1.5rem;

      .title {
        font-size: 4rem;
        font-weight: 900;

        @media screen and (max-width: 1000px) {
          font-size: 2rem;
        }
      }
    }

    .articles {
      display: flex;
      gap: 3rem;
      width: 100%;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }
</style>
