---
import { BlogPost } from "../../ui/BlogPost";
import { LinkButton } from "../../ui/LinkButton";
import { getAllPosts } from "../../utils/post";
import type { Frontmatter } from "../../utils/post";

const localPosts = await Astro.glob<Frontmatter>("../../content/posts/*.md");
const allPosts = await getAllPosts(localPosts);
---

<section class="container">
  <div class="titles">
    <h2 class="title">記事</h2>
    <LinkButton text="一覧" url="/posts/" ariaLabel="記事一覧" />
  </div>
  <ul class="articles">
    {
      allPosts
        .slice(0, 3)
        .map((post) => (
          <BlogPost
            url={post.url}
            title={post.title}
            image={post.image}
            date={post.pubDate}
            alt={post.alt}
            isExternal={post.isExternal}
          />
        ))
    }
  </ul>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .titles {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: end;
      gap: 1.5rem;

      .title {
        font-size: 4rem;
        font-weight: 900;

        @media screen and (max-width: 1000px) {
          font-size: 2rem;
        }
      }
    }

    .articles {
      display: flex;
      gap: 3rem;
      width: 100%;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }
</style>
