---
import { ProductItem } from "../../ui/ProductItem";
import { getCollection } from "astro:content";
import { LinkButton } from "../../ui/LinkButton";

const productsCollection = await getCollection("products");
---

<section class="container">
  <div class="titles">
    <h2 class="title">プロダクト</h2>
    <LinkButton text="一覧" url="/products/" ariaLabel="プロダクト一覧" />
  </div>
  <div class="products">
    {
      productsCollection
        .slice(0, 2)
        .map((product, index) => (
          <ProductItem
            index={index + 1}
            image={product.data.image.url}
            title={product.data.title}
            description={product.data.description}
            slug={product.slug}
            alt={product.data.image.alt}
          />
        ))
    }
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .titles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: end;
      gap: 1.5rem;

      .title {
        font-size: 4rem;
        font-weight: 900;

        @media screen and (max-width: 1000px) {
          font-size: 2rem;
        }
      }
    }

    .products {
      display: flex;
      gap: 3rem;
      width: 100%;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }
</style>
