---
import "destyle.css";
import { Header } from "../features/Header";
import { Footer } from "../features/Footer";
import "../styles/global.css";
const { title, description } = Astro.props;
import { SEO } from "astro-seo";
---

<html lang="ja">
  <head>
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      charset="UTF-8"
      title={`${title} | yutteee-portfolio`}
      description={description}
      openGraph={{
        basic: {
          title: `${title} | yutteee-portfolio`,
          type: "article",
          image: `${import.meta.env.SITE_URL}/portfolio.png`,
        },
        image: {
          alt: "中村優作のポートフォリオ",
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:card",
            content: "summary_large_image",
          },
          { name: "twitter:site", content: "@yutteee-portfolio" },
          { name: "twitter:creator", content: "@yutteee" },
        ],
      }}
    />
  </head>
  <body>
    <Header currentPage={title} client:load />
    <slot />
    <Footer client:load />
  </body>
</html>
