---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { Icon } from "astro-icon/components";
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">トップ</a>
      <Icon name="weui:arrow-outlined" />
      <a href="/articles">記事</a>
      <Icon name="weui:arrow-outlined" />
      <div>{frontmatter.title}</div>
    </div>
    <div class="wrapper">
      <div class="title-wrapper">
        <div>{frontmatter.pubDate.slice(0, 10)}</div>
        <h1 class="title">{frontmatter.title}</h1>
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
          class="image"
        />
      </div>
      <div class="main-wrapper">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    max-width: calc(1120px + 2rem);
    margin: 0 auto;
    padding: 5rem 1rem 6rem 1rem;
  }
  .breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-white);
    height: fit-content;
    width: fit-content;
    border-radius: 9999px;

    a {
      color: var(--color-link);
      text-decoration: underline;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 6rem;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      width: 100%;

      .title {
        font-size: 2rem;
        font-weight: 900;
      }

      .image {
        width: 100%;
      }
    }

    .main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 900;
      }

      h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 900;
      }

      a {
        color: var(--color-link);
        text-decoration: underline;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 1.5rem;

        li {
          /* 点をつける */
          list-style: disc;
          padding-left: 0.5rem;
        }
      }
    }
  }
</style>
